@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  body {
    @apply bg-[#A89A7F] text-gray-800 leading-loose;
  }
  h1 {
    @apply text-[48px] font-semibold leading-[1.1] xl:text-[80px];
  }

  h2 {
    @apply text-[36px] font-semibold leading-[1.1] xl:text-[48px];
  }

  h3 {
    @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
  }

  .p {
    @apply text-[16px] font-normal leading-[1.5] xl:text-[20px];
  }

  .text-outline {
    -webkit-text-stroke: 1px #3b3a3a;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #ea0b09;
  }
}

.toaster-success {
  --normal-bg: #d1fae5;
  --normal-text: #065f46;
  --normal-border: #10b981;
}
.toaster-error {
  --normal-bg: #fee2e2;
  --normal-text: #991b1b;
  --normal-border: #ef4444;
}
.toaster-neutral {
  --normal-bg: #000000;
  --normal-text: #fff;
  --normal-border: #d1d5db;
}
